doctype html
html(lang="en")
  head
    title=document.title
    link(rel='stylesheet', type='text/css', href=`css/${document.filename}`)
  body
    head
      h1=document.title
      nav: ul
        each file in document.files
          if file.current
            li.current=file.title
          else if file.first
            li: a(href='index.html')=file.title
          else
            li: a(href=`${file.filename}`)=file.title


    .components
      each component in document.components
        .component
          h2=component.name
          .details=component.details
          .component-demo!=component.markup
          pre.html=component.markup
          pre.css=component.css
