//
	Copyright (c) 2013 Adobe Systems Incorporated. All rights reserved.

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
!!! 5
html
	head
		title=document.title
	body
		h1=document.title
		nav
			ul
		- each navItem in nav
			li: a(href=navItem.url)=navItem.title

		- each component in document.components
			.component
				h2=component.name
				.details=component.details
				pre.html=component.html
				pre.css=component.css



