!!! 5
html
	head
		title=document.title
	body
		h1=document.title
		nav
			ul
		- each navItem in nav
			li: a(href=navItem.url)=navItem.title

		- each component in document.components
			.component
				h2=component.name
				.details=component.details
				pre.html=component.html
				pre.css=component.css



